@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

@keyframes ani {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* nav section */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 20px;
}

.menus {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    color: #155f34;
}

.logo {
    width: 200px;
    height: 70px;
}

/* banner section */
.carousel {
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.7s ease-in-out;
}

.item.active {
    opacity: 1;
    transform: translateX(0);
}

.img-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-box {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: #fff;
    text-align: left;
}

.info-item h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #0a4221;
}

.info-item p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    color: #0a4221;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #136334;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0a4221;
}

.thumb {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    z-index: 100;
}

.thumb li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
    cursor: pointer;
    overflow: hidden;
    transition: border 0.3s ease;
}

.thumb li.active,
.thumb li:hover {
    animation: ani 0.5s ease-in-out;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* product-section */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding-bottom: 50px;

}

.search-sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

#search-input {
    width: 20%;
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.sort-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}

button {
    padding: 10px 16px;
    background-color: #0a4221;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    padding: 0 0 20px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    height: 400px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #0a4221;
}

.product-card:hover h3 {
    color: #155f34;
    animation: ani 0.5s ease-in-out;
}

.product-card p {
    margin: 8px 20px;
    font-size: 16px;

    text-align: start;
}

.product-card p span {
    font-weight: bold;
    color: #0a4221
}

.product-card h5 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    background-color: rgba(228, 247, 233, 0.8);
    padding: 10px;
}

.product-card:hover h5 {
    opacity: 1;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #a7e2bf;
    cursor: pointer;
    color: #0a4221;

}

.pagination button.active {
    background-color: #136334;
    color: white;
    border: 1px solid #136334;
}


/* about section */
.about-section {
    padding: 0 10px;
    width: 100%;
}

.about-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #0a4221;
}

.about-section:hover h2 {
    animation: ani 0.5s ease-in-out;
    color: #155f34;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-image:hover img {
    animation: ani 0.5s ease-in-out;
}

.about-text {
    max-width: 600px;
    text-align: start;
    font-size: 18px;
    line-height: 1.8;
    color: #0a4221;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 60px 0 10px;
    border-radius: 10px;
    z-index: 1;
}

.about-text h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about-text:hover h3 {
    color: #155f34;
    animation: ani 0.5s ease-in-out;
}


/* review section */
.review-section {
    text-align: center;
    padding: 40px;
    background: white;
    width: 100%;
    margin: 50px auto;
}

.review-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #0a4221;
}

.review-section:hover h2 {
    color: #155f34;
    animation: ani 0.5s ease-in-out;
}
.slider {
    position: relative;
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;
}

.review-card {
    background-color: rgb(251, 255, 250);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 16px 32px rgba(3, 24, 13, 0.1);
    text-align: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin-top: 10px;
    opacity: 1;
    transform: scale(1);
}

.review-card.inactive {
    opacity: 0;
    transform: scale(0.9);
}

.review-card.active {
    opacity: 1;
    transform: scale(1);
}


.review-card:hover {
    animation: ani 0.5s ease-in-out;
}

.review-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.review-card:hover img {
    animation: ani 0.5s ease-in-out;
}

.review-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.review-card p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navigation button {
    padding: 10px 15px;
    background-color: #0a4221;
    color: white;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.navigation button:hover {
    background-color: #45a049;
}

.newsletter-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%; 
    margin: 0 auto;
}

.newsletter-container h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #0a4221;
   
}

.newsletter-container:hover h2 {
    color: #155f34;
    animation: ani 0.5s ease-in-out;
}

.newsletter-container p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#email:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #0a4221;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
    animation: ani 0.5s ease-in-out;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: none;
}

/* responsive */
/* small device  */

 @media screen and (max-width: 600px) {
        body {
            overflow-x: hidden;
        }
    
        /* nav-section */
        .menu-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            padding: 0 10px;
        }
    
        .logo {
            width: 160px;
            height: 60px;
            margin-bottom: 10px;
        }
    
        .menus {
            display: flex;
            gap: 10px;
        }
    
        .nav-item {
            font-size: 14px;
            padding: 10px 0;
        }
    
        /* banner-section */
        .carousel {
            height: 60vh;
            padding: 0 10px;
        }
    
        .info-box {
            left: 5%;
            width: 90%;
            text-align: start;
            transform: translateY(-40%);
            padding: 10px;
        }
    
        .info-item h2 {
            font-size: 1.8rem;
        }
    
        .info-item p {
            font-size: 0.9rem;
        }
    
        .btn {
            font-size: 0.9rem;
        }
    
        .thumb {
            right: 2%;
        }
    
        .thumb li {
            width: 40px;
            height: 40px;
        }
    
        /* product-card */
        #search-input {
            width: 70%;
            padding: 10px 10px;
            font-size: 14px;
            margin-bottom: 0px;
        }
    
        /* about section */
        .about-section h2 {
            font-size: 2.5rem;
        }
    
        .about-content {
            display: flex;
            flex-direction: column; 
            gap: 15px;
            width: 100%;
            margin-top: 30px;
        }
    
        .about-text {
            padding: 15px;
            font-size: 16px;
            text-align: center;
            line-height: 1.5;
            max-width: 100%;
        }
    
        .about-text h3 {
            font-size: 1.8rem;
            color: #0a4221;
        }
    
        .about-image img {
            width: 100%;
            margin-bottom: 10px;
        }
    
        .about-text:hover h3 {
            color: #155f34;
            animation: ani 0.5s ease-in-out;
        }


        .review-section h2{
            font-size: 2.5rem;
        }
        .newsletter-container {
            padding: 10px;
            max-width: 90%; 
            margin-bottom: 30px;
        }
    
        .newsletter-container h2 {
            font-size: 2rem;
        }
    
        .newsletter-container p {
            font-size: 14px;
        }
    
        input[type="email"] {
            font-size: 14px;
            padding: 8px;
        }
    
        button {
            font-size: 14px;
            padding: 8px 16px;
        }
    }
